*{
    margin:0px;
    padding:0px;
}



nav{
    background-color: black;
    color: white;
    padding: 15px;
    
}
li,ul,h1{
         display: inline;
}
ul{
    margin-left:60%;
}
li{
    color:gray;
    cursor: pointer;
}
li:hover{
    color:white;
}
input{
    width:60%;
    margin:15px;
}
.searchbar{
    padding:50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style:solid;
    display: inline-block;
    width: 300px;
}
.box:hover{
    background-color: gray;
    color:black;
}
.Products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}
